/* цвет обычной звездочки */
.star {
	cursor: pointer;
	color: gray;
}

/* цвет отмеченной звездочки */
.star.active {
	color: gold;
}

#editButton {
	background-color: #4caf50; /* Зеленый цвет фона */
	border: none;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 5px; /* Скругленные углы */
}

#editButton:hover {
	background-color: #3e8e41; /* Более темный зеленый цвет при наведении */
}
